<div *ngIf="!desloga" class="row">
  <div class="col-md-11 ">
   
  </div>
  <div class="col-md-1">
    <i (click)="deslogar()"class=" material-icons">
      power_settings_new
    </i>
  </div>
</div>

<app-login *ngIf="desloga"></app-login>
<div *ngIf="!desloga">
<div class="card-group container">
  <div class="card">
    <img src="../../assets/img/Orthanc.jpg" class="card-img-top imagem" alt="...">
    <div class="card-body">
      <h5 class="card-title">Orthanc</h5>
      <p class="card-text"></p>
      <select (change)="enviandoOrc($event.target.value)">
        <option>Orc 1</option>
        <option>Orc 2</option>
    </select>
    <button (click)="enviar()" type="submit" class="btn btn-primary ml-5">Enviar</button>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/img/isengard.jpg" class="card-img-top imagem" alt="...">
    <div class="card-body">
      <h5 class="card-title">Isengard</h5>
      <p class="card-text"></p>
      <select  (change)="enviandoOrc($event.target.value)">
        <option>Orc 1</option>
        <option>Orc 2</option>
    </select>
    <button (click)="enviar()" type="submit" class="btn btn-primary ml-5">Enviar</button>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/img/rohan.jpg" class="card-img-top imagem" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rohan</h5>
      <p class="card-text"></p>
      <select  (change)="enviandoOrc($event.target.value)">
        <option>Orc 1</option>
        <option>Orc 2</option>
    </select>
    <button (click)="enviar()" type="submit" class="btn btn-primary ml-5">Enviar</button>
    
    </div>
  </div>
</div>
</div>